*{
margin:0;
padding:0;
box-sizing: border-box;
font-family: "Inter", sans-serif;
font-family: "Arimo", sans-serif;


}
body{
    background-color:#ffffffFF;
     width:100%;
}
nav{
    max-width: 1550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px auto;
    padding: 15px 35px;
    padding-left:10%;
    padding-right:10%;
    
}


.logo img{
    width: 100px;
    height: auto;
}

.nav-links ul{
    display: flex;
    list-style: none;
    gap: 25px;
    justify-content: center;
    align-items: center;
    height:26px;
    width:361px;

}
.nav-links ul li a{
    font-family:"Arimo", sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #575757;
    font-weight: 600;
}


.common-button{
     width: 250px;
    height: 50px;
    
    font-family: "Inter", sans-serif;
    background-color: #1d4ed8FF;
    margin: 0  auto;
    padding: 16px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 700;
    color:white;
    border:none;
}


/* the banner section */
header{
     background-image: url('./assets/banner.jpg');
        height:100vh;
        background-size:cover;
        background-position: center;
        background-repeat: no-repeat;
        display:grid;
        max-width: 1551px;
       

    
}

.header-content{
    padding:50px;
    text-align: center;
    justify-content:center;
    align-items: center;
    display: grid;
    color:white;
    gap:20;
}
 .banner-button{
    margin-top:250px;
    width:265px;
    height: 69px;

    border-radius:8px;
    text-align:center;
    font-size: 20px;

}

.header-title{
    font-size: 70px;
     font-family: "Inter", sans-serif;
     font-weight: 700;
     font-display: block;
}

.header-content p{
    max-width: 700px;
}

/* Speaker Section Grid Card */
.speakers{
   display: flex;
   flex-direction: column;
   width: 100%;
   justify-content: center;
   align-items: center;
   text-align: center;

   padding-top: 35px;
   margin: 0 auto;


}
.speakers h1{
    font-family: "Inter", sans-serif;
    font:#000102FF; 

}
.speaker-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
     padding: 50px;
    gap: 30px;

}
.speaker-card img{
    width:100%;
    display:block;
}
.speaker-card{
    text-align: left;
    overflow: hidden;
    border-radius:10px;
    border:1px solid #e5e7ebFF;

}

/* modifying the colour fonts inside the card */
.speaker-category {
    font-family: "Inter", sans-serif;
    color:#2563eb;
    font-size:10px;
    font-weight:700;
    padding:2.5px;
    margin-left:10px;
    margin-top: 10px;
}

.speaker-card h3 {
font-family: "Inter", sans-serif;
    font-size:20px;
    font-weight:bold;
    padding: 2.5px;
    margin-left: 10px;
}

.speaker-card p{
    font-family: "Inter", sans-serif;
     font-size:10px;
    padding:2.5px;
    margin-left:10px;
    font-weight: 600;
    color: #575757;
    


}

/* creating the pricing section */

.pricing{
    padding:100px 0;
    background: white;
}
.pricing-header{
     font-family: "Inter", sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
    padding-top:50px  ;





}
 .pricing-paragraph{ justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size:10px;
    font-weight: 600;
    color: #575757;
    padding:10px;
    font-size: ;

 }   
 
 .pricing-card{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 50px;
    gap: 10px;
    margin:100px
 }

 .card-info{
    display:flex;
    flex-direction:column;
    font-size:15px;
    color:#575757;
    text-align: left;
    
    border-radius:10px;
    border:1px solid #e5e7ebFF;
    padding:40px;



 }
 .card-info ul{
    margin:10px;
 }
 .card-info li::marker{
    
    color: #1d4ed8FF;
}

 .white-button{
     width: 250px;
    height: 50px;
    
    font-family: "Inter", sans-serif;
    background-color: white;
    margin-top:0  auto;
    padding: 16px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 700;
    color: #1d4ed8FF;
    border:1px solid #1d4ed8FF;
           
           
 }
 